.component-list {
  .list,
  .list-item {
    margin: 0;
    padding: 0;
  }

  .list {
    // background: #eee;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }

  .list-item {
    background: white;
    list-style-type: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: background 0.25s;
    &.active {
      color: #00000040;
    }
    &:hover {
      &:not(&.active) {
        background: rgb(236, 236, 236);
      }
    }
    &:not(.active) {
      cursor: pointer;
    }
  }
}
